<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /><!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <title>Make Appointment</title>
</head>
<body>
<a href="/">Home</a>
    {% if doc.count > 0 %}
    <h2>Doctor List</h2>
    <table>
        <thead><th>Doctor</th><th>Contacts</th><th>Price</th><th>Schedule</th><th>Rating</th><th> </th></thead>
        {% for i in doc %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ i.contactnumber }}</td>
            <td>{{ i.priceoftheappointment }}</td>
            <td>{{ i.scheduledetails }}</td>
            <td>{{ i.rating }}</td>
            <td><a href="/hospitalapp/create_appointment/{{i.pk}}">Choose</a>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>